@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --main-color: #63c5da;
}
.act,
.navbar ul li a:hover {
  color: var(--main-color) !important;
  border-bottom: 1px solid var(--main-color);
}
.theme-text {
  color: var(--main-color) !important;
}
.navbar-nav a{
	font-size: 15px;
	text-transform: uppercase;
	 font-weight: 500;	 
}
.navbar-light .navbar-brand{
	color: black;
	font-size: 25px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover{
	color:black
}
.w-100{
	height:100vh
}
.services .card-body{
	font-size: 50px;

}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.carousel-caption {
		bottom: 370px;	

	}
	.carousel-caption p{
		width: 100%;
	}
}

@media only screen and (max-width: 767px){
	.navbar-nav{
		text-align: center;
	}
	.carousel-caption{
		bottom: 125px;
	}
	.carousel-caption h5{
		bottom: 17px;
	}
	.carousel-caption a{
		padding: 10px 15px;
	}
}